<table>
  <div id="pizzaBorder" name="pizzaBorder" border-style="double">
  <h1>Welcome to {{ title }}</h1>
<h3>Website made by: {{author}}</h3>
<h2>Menu</h2>
  <tr>
    <th>Item</th>
    <th>Category</th>
    <th>Price</th>
    <th>Vegetarian?</th>
    <th>Vegan?</th>
    <th></th>
  </tr>
  @for(i of currentMenu; track $index){
    <tr [ngClass]="{'soldOut' : i.soldOut}">
      @if(i.soldOut===true){
        <td style="text-decoration: line-through;">{{i.name}}</td>
      }
      @else {
        <td>{{i.name}}</td>
      }
        <td>{{i.category}}</td>
        <td>${{i.price}}</td>
      @if(i.vegetarian){
        <td>Vegetarian</td>
      }
      @else{
        <td>Meats</td>
      }
      @if(i.vegan){
        <td>Vegan</td>
      }
      @else{
        <td>Animal Ps</td>
      }
      <td><button [disabled]='i.soldOut=== true' (click)= "addOrder(i, total)">Add to Order</button></td>
    </tr>
}
<h2>Cart Cost: $ {{countCart(total)}}</h2>
</div>
</table>
